<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tools="http://www.w3.org/1999/xhtml">

<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html" >
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" title="style">
    <style type="text/css">
        h1 {
            color:green;
        }
    </style>
</head>
<body>


<h1>Form</h1>
<form action="#" th:action="@{/gg}" th:object="${gg}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

    <tools:img path="alternative-energy-website-template.jpg"/>
<p><img src="alternative-energy-website-template.jpg" alt="Example1" width="193" height="130"> (width:193px, height:130px)</p>
<img src="alternative-energy-website-template.jpg" height="799" width="1200"/>

<a class="navbar-brand" href="gg.html"><img src="alternative-energy-website-template.jpg" alt="Company logo" style="width:225px;height:35px; padding-bottom: 2px;"></a>
<p style="color:red;">Some red text</p>
</body>
</html>